body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.home {
    display: flex;
    padding-top: 30vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 10vw;
}
.home a {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: darkslateblue;
    text-decoration: none;
}
header {
    padding: 5vh;
    background: #ccc;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table,
th,
td {
    border: 1px solid black;
}
thead {
    background-color: #1c87c9;
    color: #ffffff;
}
th {
    text-align: center;
    height: 50px;
}
tbody tr:nth-child(odd) {
    background: #ffffff;
}
tbody tr:nth-child(even) {
    background: #f4f4f4;
}
td {
    padding: 5px 15px;
}
tfoot {
    text-align: center;
}
tfoot a {
    font-size: 20px;
    margin-right: 5px;
    font-weight: bold;
}
.block {
    max-width: 500px; margin: 120px auto; text-align: center;
}